In [1]:
# Dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Read and store the data from the cities CSV file.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Palpa,PE,2021-03-29 23:27:28,-14.5336,-75.1856,78.73,57,70,6.35
1,1,Hobart,AU,2021-03-29 23:27:29,-42.8794,147.3294,60.01,55,0,12.66
2,2,Tuktoyaktuk,CA,2021-03-29 23:27:29,69.4541,-133.0374,-7.60,77,20,17.27
3,3,Busselton,AU,2021-03-29 23:27:29,-33.6500,115.3333,66.99,95,14,5.55
4,4,Cherskiy,RU,2021-03-29 23:27:30,68.7500,161.3000,-0.44,93,100,8.66

In [3]:
# Check data types of DataFrame columns.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use the API key.
gmaps.configure(api_key=g_key)

In [13]:
# Heatmap of Temperature.
# Get the locations from Lat and Lng.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed,
                                 dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the DataFrame based on the user temp input.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Palpa,PE,2021-03-29 23:27:28,-14.5336,-75.1856,78.73,57,70,6.35
5,5,Rikitea,PF,2021-03-29 23:27:30,-23.1203,-134.9692,78.89,70,9,15.35
20,20,Avarua,CK,2021-03-29 23:27:34,-21.2078,-159.7750,86.00,70,40,13.80
24,24,Kapaa,US,2021-03-29 23:27:35,22.0752,-159.3190,75.20,73,75,14.97
25,25,Hithadhoo,MV,2021-03-29 23:27:35,-0.6000,73.0833,83.57,72,100,24.83
...,...,...,...,...,...,...,...,...,...,...
564,564,Ahuimanu,US,2021-03-29 23:30:03,21.4447,-157.8378,80.60,69,75,11.50
574,574,Todos Santos,MX,2021-03-29 23:30:06,23.4500,-110.2167,75.99,50,94,1.01
576,576,Gusau,NG,2021-03-29 23:28:07,12.1628,6.6614,79.48,15,0,12.73
578,578,Mayumba,GA,2021-03-29 23:29:53,-3.4320,10.6554,77.85,86,95,2.71
581,581,Apomu,NG,2021-03-29 23:30:07,7.3333,4.1833,80.60,89,20,5.75

In [30]:
# Create a copy of the DataFrame to find hotels with.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
# Add a column to feature the hotel name.
hotel_df["Hotel Name"] = ""

hotel_df

             City Country  Max Temp      Lat       Lng Hotel Name
0           Palpa      PE     78.73 -14.5336  -75.1856
5         Rikitea      PF     78.89 -23.1203 -134.9692
20         Avarua      CK     86.00 -21.2078 -159.7750
24          Kapaa      US     75.20  22.0752 -159.3190
25      Hithadhoo      MV     83.57  -0.6000   73.0833
..            ...     ...       ...      ...       ...        ...
564      Ahuimanu      US     80.60  21.4447 -157.8378
574  Todos Santos      MX     75.99  23.4500 -110.2167
576         Gusau      NG     79.48  12.1628    6.6614
578       Mayumba      GA     77.85  -3.4320   10.6554
581         Apomu      NG     80.60   7.3333    4.1833

[168 rows x 6 columns]

In [31]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Pull lat and lng.
    lat = row["Lat"]
    lng = row["Lng"]
    #Add these to the API parameters.
    params["location"] = f"{lat},{lng}"
    # Use these terms to create an API request for hotels.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params).json()
    # Take the first hotel found and add the name of it to the DF.
    # Include try-except block to watch for there being no hotel results for that location.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"{row['City']} - Hotel not found... skipping")

Thinadhoo - Hotel not found... skipping
Doka - Hotel not found... skipping
Panguna - Hotel not found... skipping
Lere - Hotel not found... skipping
Gewane - Hotel not found... skipping
Diapaga - Hotel not found... skipping
Murindo - Hotel not found... skipping
Koulikoro - Hotel not found... skipping
Taguatinga - Hotel not found... skipping
Ouallam - Hotel not found... skipping
Gamba - Hotel not found... skipping

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Palpa,PE,78.73,-14.5336,-75.1856,Palpa Lines
5,Rikitea,PF,78.89,-23.1203,-134.9692,Pension Maro'i
20,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
24,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
25,Hithadhoo,MV,83.57,-0.6000,73.0833,Scoop Guest House
26,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
29,Caramay,PH,79.48,10.1815,119.2360,Peace and Love Beach Club
30,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
31,Denpasar,ID,78.80,-8.6500,115.2167,ASTON Denpasar Hotel & Convention Center
36,Axim,GH,79.05,4.8699,-2.2405,AXIM BEACH RESORT AND SPA

In [45]:
# Create an information box template from HTML.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Recreate the heatmap for max temperature for the chose spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add a marker layer for the city names.
# Include the info box template we made above.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layers to the figure.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))